<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>NSLocalNetworkUsageDescription</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR.ttf</string>
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>NSBluetoothPeripheralUsageDescription</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>NSBluetoothAlwaysUsageDescription</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>NSLocationAlwaysUsageDescription</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>NSLocationAlwaysAndWhenInUseUsageDescription</string>
	<key>NSContactsUsageDescription</key>
	<string>NSContactsUsageDescription</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
