<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR.ttf</string>
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>fixme</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>fixme</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>fixme</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>fixme</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>fixme</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
